@import "tailwindcss";

:root {
  --background: #f6f6f6;
  --foreground: #171717;
  --font-aboreto: var(--font-aboreto);
  --font-inter: var(--font-inter);
  --font-poppins: var(--font-poppins);
}

*{
  scroll-behavior: smooth;
  font-family: var(--font-poppins);
}

body{
  overflow-x: hidden;
}

@theme {
  --color-primary-50: #eff6ff;
  --color-primary-100: #dbeafe;
  --color-primary-200: #bfdbfe;
  --color-primary-300: #93c5fd;
  --color-primary-400: #60a5fa;
  --color-primary-500: #5E7CCF;
  --color-primary-600: #4c63a1;
  --color-primary-700: #3d4f82;
  --color-primary-800: #2e3b63;
  --color-primary-900: #1e2744;

  /* Override emerald colors dengan biru */
  --color-emerald-50: #eff6ff;
  --color-emerald-100: #dbeafe;
  --color-emerald-200: #bfdbfe;
  --color-emerald-300: #93c5fd;
  --color-emerald-400: #60a5fa;
  --color-emerald-500: #5E7CCF;
  --color-emerald-600: #4c63a1;
  --color-emerald-700: #3d4f82;
  --color-emerald-800: #2e3b63;
  --color-emerald-900: #1e2744;

  --color-lokabudayagold: #D5C578;
  --color-lokabudaya_gold_hover_dark: #9D8C3A;

  --color-lookabudaya_dark_blue: #1D293D;
  --color-lookabudaya_dark_blue_hover: #293750;
  
  --color-lokabudaya_tour: #76395F;
  --color-lokabudaya_event: #466F79;
  --color-lokabudaya_kuliner: #9A5F38;
}

.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Font utility classes */
.font-aboreto {
  font-family: var(--font-aboreto), serif;
}

.font-inter {
  font-family: var(--font-inter), sans-serif;
}

.font-poppins {
  font-family: var(--font-poppins), sans-serif;
}

@layer utilities {
  .custom-date-input::-webkit-inner-spin-button,
  .custom-date-input::-webkit-calendar-picker-indicator {
    opacity: 0;
    -webkit-appearance: none;
  }
}